.trans{
    height: 80px;
    width: 80px;
     transition:transform 2s;
    background-color: red;
     border-radius: 30%; 
     box-shadow: 2px 2px 6px 8px gray;
     transition-timing-function: ease;
    

}

.trans:hover{
    transform: rotate3d(0,1,0,360deg);
    
}
.rot{
    height: 200px;
    width: 200px;
    background-color: red;
}
.rot:hover{
    transform: skew(40deg);
}